= set_header_tab("account")

.errors
  = display_flash_messages(flash)

%section.container-wrapper
  .container.sign-up
    %h1="WELCOME BACK!"
    %p="Please use the form below to sign into your GROUNDFLOOR developers account."
    
    .row.form
      .col-lg-6
        = render "devise/sessions/form", resource: resource, developer: true

      .col-lg-6
        .well
          %legend="NEW HERE?"
          .row-fluid
            .col-lg-2
              =image_tag("icons/dev_icon_profile.png")
            .col-lg-10
              %p
                #{link_to("Sign Up", new_user_registration_path)} to follow projects and be notified when we have offerings available for you.

%section.container-wrapper.odd.last_call
  .container
    %h1="HOW WE SELECT TRANSACTIONS FOR FUNDING"
    %p
      It’s the early days of establishing a new kind of finance for real estate transactions. As a new concept, we can’t take on every type and size of deal just yet. Our first cohort is planned for introduction early this year. Successful U.S. investment opportunities will receive funding if they:
    .row.story-board
      .col-lg-4.step
        .icon
          = image_tag("icons/dev_icon_cash.png")
        %p="Require less than $200 thousand of debt financing"
      .col-lg-4.step
        .icon
          = image_tag("icons/dev_icon_usa.png")
        %p="Must be in the state of Gerogia"
      .col-lg-4.step
        .icon
          = image_tag("icons/dev_icon_2013cal.png")
        %p="Must be looking for funds after Oct 2014"
    %p
      Have a proposal that fits? Great! Provide us with the basic details of your project and start gaining followers immediately. Once you gain enough followers we’ll invite you to apply for financing. The amount of followers you need is determined by the size of your project--we’ll provide you with the tools to leverage your existing network in addition to ours! Even if your proposal doesn’t fit today, it might in the near future. We’re planning to expand in early 2014. If your timeline to close funds is flexible, go ahead and propose your project now -- and we’ll let you know when it’s time to apply.

